<!DOCTYPE html>
<head>

    <title>Main page</title>
</head>
<html>
<body>
    <h2>Enter the text to </h2>
    <form action = 'remove' method = 'get'>
        <textarea name = "data" style="width: 585px; height: 42px;"></textarea><br>
        <input type = 'checkbox' name = "RPoption">Remove Punctuations<br>
        <input type = 'checkbox' name = 'cap'>Capitalize<br>
        <input type = 'checkbox' name = 'newlineremover'> Remove new line <br>
        <input type = 'checkbox' name = 'extraspaceremover'> remover extra space <br>
        <button type = 'submit'>Analyze</button><br>
    </form>
</body>
</html>